[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-twitter = "*"
google-cloud-language = "*"
flask = "*"
google-cloud-translate = "*"
flask-cors = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.7"
